<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IniciandoSesion</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div id="contenedorLogin" class="contenedorLogin">
        <form id="formulario-login">
            <h2>Inicie Sesion</h2>
            <input type="text" placeholder="Número de cuenta" id="login-usuario" name="login-usuario">
            <input type="text" placeholder="Contraseña" id="login-contrasena" name="login-contrasena">
            <div class="botones">
                <button id="abrirSesion">Abrir sesion</button>
                <!-- <button id="registro" onclick="window.location.href='Register.html'">Registrarse</button> -->
                <a id="registro" href="/capitalBank/views/pages/Register.html">Registrarse</a>
                <!-- <button id="cerrarLogin" onclick="window.location.href='/index.html'">Cerrar</button> -->
                <a id="cerrarLogin" href="/Index.html">Cerrar</a>
            </div>
        </form>
    </div>
    <img src="/capitalBank/views/img/inicioRegistroFondo.jpg" class="imagenLogin">
    <script type="module" src="../js/scriptLogin.js"></script>
</body>

</html>