<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/public/css/seguros.css">
    <title>Seguro de Hogar</title>
</head>

<body>
    <header>
        <img src="/views/public/img/cerdoGris.jpg" />
        <div class="contenedorTituloBanco">
            <h1 class="tituloBanco">
                <button class="botonPrincipal" id="PaginaPrincipal" onclick="irAPrincipal()"></button>Capital Bank
            </h1>
        </div>
        <p class="slogan">Tu banco de confianza</p>
        <button class="botonlogin" id="loginBoton" onclick="irALogin()">
            Inicio / Registro
        </button>
    </header>
    <div class="barraNavegacion">
        <nav>
            <ul>
                <div class="botonesBarraNavegacion">

                    <button class="boton" id="serviciosBoton" onclick="irAServicios()">
                        <b>Servicios</b>
                    </button>

                    <button class="boton" id="lineasDeCreditoBoton" onclick="irALineasCredito()">
                        <b>Lineas De Credito</b>
                    </button>

                    <button class="boton" id="tarjetasDeCreditoBoton" onclick="irATarjetasCredito()">
                        <b>Tarjetas De Credito</b>
                    </button>

                    <button class="boton" id="segurosBoton" onclick="irASeguros()">
                        <b>Seguros</b>
                    </button>

                    <button class="boton" id="empresasBoton" onclick="irAEmpresas()">
                        <b>Empresas</b>
                    </button>
                </div>
            </ul>
        </nav>
    </div>

    <section class="contenedorSeguroHogar">
        <h3>Seguro de Hogar Capital Bank</h3>
        <p class="parrafoSeguro">Protege tu hogar y tus pertenencias con nuestra cobertura integral. Vive tranquilo
            sabiendo que estás protegido contra imprevistos.</p>

        <div class="targetasAutos">
            <div class="card">
                <h5>Protección Estructural</h5>
                <p>Cobertura para daños a la estructura de tu hogar, incluyendo techos, paredes y cimientos.
                </p>
            </div>
            <div class="card">
                <h5>Contenidos del Hogar</h5>
                <p>Asegura tus muebles, electrodomésticos y objetos personales contra robo o daños.</p>
            </div>
            <div class="card">
                <h5>Responsabilidad Civil</h5>
                <p>Te protegemos ante posibles demandas por accidentes ocurridos en tu propiedad.</p>
            </div>
            <div class="card">
                <h5>Desastres Naturales</h5>
                <p>Cobertura contra daños causados por fenómenos naturales como inundaciones o terremotos.</p>
            </div>
        </div>
        <div class="cardFinal">
            <h5>Obtén tu cotización personalizada</h5>
            <form id="formulario-seguro-hogar" action="">
                <label for="">Nombre Completo</label>
                <input name="seguro-hogar-nombre" id="seguro-hogar-nombre" type="text" required
                    placeholder="Juan Castor Lopez">
                <label for="">Correo Electronico</label>
                <input name="seguro-hogar-email" id="seguro-hogar-email" type="email" required
                    placeholder="ejemplo@correo.com">
                <label for="">Telefono</label>
                <input name="seguro-hogar-telefono" id="seguro-hogar-telefono" type="tel" required
                    placeholder="3136483928">
                <label for="">Valor Estimado de La Propiedad</label>
                <input name="seguro-hogar-estimado" id="seguro-hogar-estimado" type="number" required
                    placeholder="600.000.000">
            </form>
            <label id="botonSolicitar" class="botonCotizar" for="modal">Solicitar Cotizacion</label>

        </div>
    </section>
    <input id="modal" type="checkbox">
    <label class="acesor" for="modal">

        <div class="card">
            <label class="cerrar" for="modal">X</label>
            <p>Has seleccionado Seguro de Hogar. Un asesor se pondrá en contacto contigo pronto.</p>

        </div>

    </label>



    <script src="/views/public/js/script.js"></script>
    <script type="module" src="../public/js/scriptSeguro.js"></script>
    <footer>
    </footer>
</body>

</html>